/* global */
* {
  margin: 0;
  padding: 0;
  border: 0px;
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
  color: #000;
}

body {
  background-color: #eae8e8;
}

/*
  Calculator styles
*/

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #c2e6ff;
  width: 350px;
  height: 500px;
  border-radius: 10px;
  padding: 30px 20px;
}

.calculator__display--bare {
  display: none;
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  height: 100px;
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  padding: 25px 15px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.calculator__display--bare > span {
  display: inline-block;
  text-align: center;
  background-color: #f3f0fc;
  margin: 5px;
  width: 40px;
  height: 45px;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 5px;
}

.calculator__display--for-advanced {
  /* display: none; */
  background-color: #ffffff;
  height: 100px;
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  text-align: right;
  vertical-align: middle;
  padding: 35px 45px 25px 15px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.calculator__buttons {
  background-color: #c2e6ff;
  width: 100%;
  height: 330px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

.clear, .calculate, .decimal{
  float: right;
}


.clear__and__enter {
  height: 50px;
  margin: 10px;
  background-color: #c2e6ff;
}

.clear__and__enter > button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0px 5px;
  cursor: pointer;
  outline: none; 
}

#deci {
  margin-right: 10px;
}
#enter{
  margin-right: 10px;
  background-color: #eae8e8;
}
#ac{
  margin-right: 10px;
  background-color:#1EB0AC;
}
#operator_plus {
  background-color: #64EE13;
}
#operator_minus {
  background-color: #EF7E81;
}
#operator_multi {
  background-color: #F0BC0A;
}
#operator_divid {
  margin-left: 45px;
  background-color: #9275B1;
}

.button__row {
  height: 50px;
  margin: 10px;
  background-color: #c2e6ff;
}

.button__row > button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.button__row > button {
  margin-left: 12px;
}

.button__row > .number {
  background-color: #c2e6ff;
}

.button__row > .operator {
  color: #ffffff;
}


.button__row > .double {
  width: 115px;
  margin-left: 45px;
}

.button__row > .isPressed {
  background-color: #636363;
}

.logo {
  position: fixed;
  padding: 30px;
  bottom: 0px;
  right: 0px;
}
